*
!.gitignore
!README.md
!LICENSE
!/lua
!/lua/menu_plugins
!/lua/menu_plugins/**
!/lua/menu
!/lua/menu/menu.lua
!/lua/menu/menu_plugins.lua
!/lua/menu/plugin_bootstrapper
!/lua/menu/plugin_bootstrapper/**