*
!.gitignore
!README.md
!LICENSE
!VERSION
!/lua
!/lua/menu_plugins
!/lua/menu_plugins/calculator.lua
!/lua/menu_plugins/config_example.lua
!/lua/menu_plugins/gradient_bg.lua
!/lua/menu_plugins/pling.lua
!/lua/menu
!/lua/menu/menu.lua
!/lua/menu/menu_plugins.lua
!/lua/menu/plugin_bootstrapper
!/lua/menu/plugin_bootstrapper/**